{
  "env": {
    "jest": true,
    "node": true
  },
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "semi": 0,
    "implicit-arrow-linebreak": 0,
    "no-console": 0,
    "camelcase": 0,
    "no-unused-declaration": 0,
    "comma-style": "error"
  }
}
